<html>
<body>
<h1>Add User</h1>
<form action="/user/list" method="post">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="username" name="username">
  <input type="text" placeholder="password" name="password">
  <button>SUBMIT</button>
</form>
</body>
</html>
