<html>
<body>
<h1>User edit</h1>
<form class="" action="/place/edit/<%= dataPlaces.id %>" method="post">
  <input type="text" placeholder="name" name="name" value= <%=dataPlaces.name %>>
  <button>EDIT</button>
</form>
</body>
</html>
