<html>
  <head>
    <title>INDEX</title>
  </head>
  <body>
    <h1>INDEX</h1>
    <a href="/user/list">User</a>
    <a href="/interest/list">Interest</a>
    <a href="/place/list">Place</a>
  </body>
</html>
