<form action="/auth/register" method="post">
  <input type="text" name="username" placeholder="username"><br>
  <input type="text" name="password" placeholder="password"><br>
  <input type="submit" value="Submit">
</form>
